<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TITLE{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    </head>

    <body>

        <a class="display-3 navbar-brand" href="/">Pet Adoption</a>

        <br>
        {% for cat, msg in get_flashed_messages(with_categories=true) %}
        <div class = "{{ cat }}">{{ msg }}</div>
        {% endfor %}

        <div class = "container">
            <h2>{% block h1 %}header 1{% endblock %}</h2>

            {% block content %}

            BODY content

            {% endblock %}
        </div>
        
    </body>

</html>